* {margin :0;
padding :0;}
body {background-color:#f0f0f3e2;}

#header {width: 100%;
height: 48px;
background-color: white;
font-family: sans-serif;
border-bottom:1px solid #dfdfdf;
padding-left: 400px;
display: flex;
align-items: center;
font-size: larger;
}
#first {width: 570px;
    height: 85px;
    background-color: white;
    border: 1px solid #dfdfdf;
border-radius: 10px;
font-family:sans-serif;
font-weight: bold;
position: absolute;
left:710px;
top:65px;
}


.ff {font-size:smaller;
color: #969696;
font-weight: normal;
}

#nn {padding-left: 100px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
margin-top: 15px;
}

#nn:hover {background-color: #faf8f8fa;
    border-radius: 10px;
position: relative;

}


#ss {width: 570px;
    height: 55px;
    background-color: white;
    border: 1px solid #dfdfdf;
border-radius: 10px;
font-family:sans-serif;
position: absolute;
left:710px;
top:160px;
padding-left: 5px;
padding-right: 5px;

}
#zx {padding-top: 5px;
    padding-bottom: 15px;
padding-left: 100px;
margin-top: 10px;



}
#zx:hover {background-color: #faf8f8fa;
    border-radius: 10px;
}

#pic {width: 557px;
    height: 300px;
    background-color: white;
    border: 1px solid #dfdfdf;
border-radius: 10px;
font-family:sans-serif;
padding-top: 15px;
padding-left: 15px;
position: absolute;
left:710px;
top:230px;
}

img {border-radius: 10px;}
img:hover {filter: brightness(90%);}

#list {width: 285px;
    height: 320px;
    background-color: white;
    border: 1px solid #dfdfdf;
border-radius: 10px;
font-family:sans-serif;
padding-top: 5px;
position: absolute;
left:400px;
top:65px;
}
p.gl {;
margin-left: 7px;
width: 228px;
height: 40px;
padding-top: 12px;
padding-left: 45px;
}

#ggl {background-color: #f5f4f4;
border-radius: 6px;}
p.gl:hover {background-color: #f5f4f4;
border-radius: 5px;}

#vk {width: 285px;
    height: 60px;
    background-color: white;
    border: 1px solid #dfdfdf;
border-radius: 10px;
font-family:sans-serif;
padding-top: 5px;
position: absolute;
left:400px;
top:400px;}

p.vvk {margin-left: 7px;
width: 228px;
height: 40px;
padding-top: 12px;
padding-left: 45px;}

p.vvk:hover {
margin-left: 7px;
width: 228px;
height: 40px;
padding-top: 12px;
padding-left: 45px;
background-color: #f5f4f4;
border-radius: 5px;
}

p.ww{color: #767676;
    font-family:sans-serif;
    font-size:smaller;
   

}
#www {position: absolute;
left:420px;
top:490px;}

p.ww:hover {text-decoration: underline;}

p.ww:not(:last-of-type) {display: inline; margin-right: 20px;}

#br {padding-top: 15px;}

#qq {width: 570px;
    height: 280px;
    background-color: white;
    border: 1px solid #dfdfdf;
border-radius: 10px;
font-family:sans-serif;
padding-top: 15px;
position: absolute;
left:710px;
top:560px;
}

.aaa {margin-left: 0px;
width: 200px;
height: 40px;
padding-bottom: 10px;
padding-left: 50px;
margin-left: 5px;
padding-top: 10px;
}


span {color: #969696;
font-size: smaller;}

.aaa:hover {background-color: #f5f4f4;
border-radius: 5px;
width: 510px;
}

.pop {margin-bottom:  15px;
font-weight: bolder;
padding-left: 15px;
} 






